*.ipynb
*checkpoint.py
*.pyc
*.csv
*.parquet
*.pem
*.pkl
*.env
*.zip
*.pth
test/*
!test/
!test/**/*.py
!test/**/*.csv
deprecated_models/*
.ipynb_checkpoints/*
orchestration/*
experiments/*
build_deps/*
build/*
dist/*
.vscode/*
usage/*
logs/*
feedback/*
input/*
output/*
fuzzy_address_matcher.egg-info/*
*.done
*.lock
cat_to_idx.txt
vocab.txt
word_to_index.txt
!example_data/search_addresses_london.csv
!example_data/reference_addresses_london.csv
/.quarto/
/_site/