*.ipynb
*checkpoint.py
*.pyc
*.csv
*.parquet
*.pem
*.pkl
*.env
*.zip
*.pth
test/*
deprecated_models/*
.ipynb_checkpoints/*
orchestration/*
experiments/*
build_deps/*
build/*
dist/*
.vscode/*
usage/*
logs/*
feedback/*
input/*
output/*
cat_to_idx.txt
vocab.txt
word_to_index.txt